<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uns.uu.uupaymentsdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        >
        <!--<activity android:name="com.uns.uu.test.TestActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--绑定银行卡界面-->
        <activity android:name=".view.BindBankCardActivity" />
        <!--输入手机验证码界面-->
        <activity android:name=".view.CheckSmsActivity" />
        <!--绑定信用卡界面-->
        <activity android:name=".view.BindCreditBankCardActivity" />
        <!--银行卡问题界面-->
        <activity android:name=".view.BankQuestionActivity" />
        <activity android:name=".view.BindCreditBankCardForPayActivity" />
        <!--绑定银行卡界面-->
        <activity android:name=".view.InputBankCardActivity" />
        <activity android:name=".view.InputBindCardInfoActivity" />
        <activity android:name=".view.ResetPwdCheckCodeActivity" />
        <activity android:name=".view.InputBindCardInfoFourStepActivity" />
        <activity android:name=".view.InputBindBankActivity" />
    </application>

</manifest>